.projectsPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Montserrat;
	margin-top: 8vh;
}
.skillsList {
	display: flex;
	flex-direction: column;
	background-color: #faccca;
	border: 2px solid white;
	border-radius: 15px;
	padding: 2vh 3vw;
	margin-bottom: 20vh;
}
#test1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
}
#test2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
}
.skillDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logoText {
	font-size: 20px;
}
.logo {
	height: 12vh;
	width: auto;
}
